.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.snapButton {
  text-align: center;
  position: fixed;
  bottom: 40px;
  width: 100%;
}

.snapButton > button {
  font-size: 60px;
  font-weight: bold;
}
.snapButton img {
  width: 150px;
}

.wrapper {
  width: 400px;
  height: 700px;
  margin: auto;
}
